<template>
  <div class="flex-col items-center">
    <h1 class="text-gray-700 text-6xl">Platzi Exchange V1.0.0</h1>
    <p class="text-gray-600 text-xl text-center">
      Proyecto para obtener las cotizaciones de las criptomonedas mas
      importantes a traves de la API Rest de Coincap
      <br />
      Este proyecto es utilizado en el curso virtual de Vue.js Basico de Platzi
    </p>
    <router-link to="/" class="mt-5 text-xl text-green-600 hover:underline"
      >Volver a la página de inicio</router-link
    >
  </div>
</template>

<script>
export default {
  name: "AboutComponent",
};
</script>
