<template>
  <div class="flex-col items-center">
    <h1 class="text-gray-700 text-6xl">Error</h1>
    <router-link to="/" class="mt-5 text-xl text-green-600 hover:underline"
      >Volver a la página de inicio</router-link
    >
  </div>
</template>

<script>
export default {
  name: "ErrorComponent",
};
</script>
